<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.patil.geobells.lite" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.write_settings" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateReminderActivity"
            android:label="@string/title_activity_create_reminder" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAtycxCYF1MvdR2MgxTT3W3EQCiMj4DStQ" />

        <activity
            android:name=".ViewPickMapActivity"
            android:label="@string/title_activity_view_pick_map" >
        </activity>
        <activity
            android:name=".ViewRemindersMapActivity"
            android:label="@string/title_activity_view_reminders_map" >
        </activity>
        <activity
            android:name=".PopupActivity"
            android:label="@string/title_activity_popup" >
        </activity>

        <service
            android:name=".service.LocationService"
            android:label="@string/service_location" >
        </service>
        <service
            android:name=".service.ActivityRecognitionService"
            android:label="@string/service_activityrecognition" >
        </service>
        <service
            android:name=".service.SpeakService"
            android:label="@string/service_speak" >
        </service>
        <service
            android:name=".service.ActivityRecognitionIntentService"
            android:label="@string/service_activityhandler" >
        </service>

        <receiver android:name=".service.LocationServiceStartReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
    </application>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

</manifest>
